<%= form_for @lista do |f| %>
  <% if @lista.errors.any? %>
    <div id="ventana_errores">
      <h2>Se encontraron <%= pluralize(@lista.errors.count, "error") %></h2>
      <ul>
        <% @lista.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table class="botonera" frame = "box" width = "300px;">
    <tr>
      <td>
        <%= image_submit_tag "OK.gif", :id => "BotonOK1" %>
        <%= link_to image_tag("Cancel.gif", :mouseover => "Cancelmo.gif", :border => 0), listas_path %>
      </td>
    </tr>
  </table>
  <%= render 'campos' %>
<% end %>

<% unless @articulos_listas.nil? then %>
  <div id="lista" >
    <br />
    <%= render :partial => "articulos", :object => @articulos_listas %>
    <br />
  </div>

  <%= form_for @articulo_lista, :as => :articulo_lista, :url => "/articulos_listas/create" do |f| %>
    <table>
      <tr>
        <td>Articulo</td>
        <td>Cantidad</td>
      </tr>
      <tr>
        <td style="width: 500px;">
          <%= autocomplete_field_tag 'nombre',  '', autocomplete_articulo_nombre_generico_listas_path, :id_element => "#articulo_id", :size =>80, :maxlength => 80 %>
        </td>
        <td>
          <%= f.text_field :cantidad %>
        </td>
        <td>
          <span style="visibility:hidden">
            <%= f.text_field :lista_id %>
            <%= f.text_field :articulo_id, :id => "articulo_id" %>
          </span>
        </td>
        <td> <%= image_submit_tag "OK.gif", :id => "BotonOK1" %>  </td>
      </tr>
    </table>
  <% end %>
<% end %>
